* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* font-size: 10px; */
	/* 10px / 16px = 0.625 = 62.5% */
	/* Percentage of user's browser font-size setting */
	font-size: 62.5%;
}

body {
	line-height: 1;
	font-weight: 400;
	background-color: hsl(0, 0%, 95%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 32rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 12rem;
	flex-wrap: wrap;
}

.product {
	max-width: 30.7rem;
	height: 50rem;
	padding: 4.8rem;
	border-radius: 5px;
}

.product h2 {
	color: hsl(0, 0%, 95%);
	font-family: "Big Shoulders Display", cursive;
	font-size: 4rem;
	margin-top: 3.5rem;
}

.product p {
	color: hsla(0, 0%, 100%, 0.75);
	font-family: "Lexend Deca", sans-serif;
	font-size: 1.5rem;
	margin-top: 2.5rem;
	line-height: 1.75;
}

.btn {
	display: inline-block;
	text-decoration: none;
	font-family: "Lexend Deca", sans-serif;
	font-size: 1.5rem;
	margin-top: 8.3rem;
	padding: 1.5rem 3rem;
	background-color: hsl(0, 0%, 95%);
	border: 0.2rem solid hsl(0, 0%, 95%);
	border-radius: 25px;
	transition: all 0.3s;
}

.sedan {
	background-color: hsl(31, 77%, 52%);
}
.suv {
	background-color: hsl(184, 100%, 22%);
}
.luxury {
	background-color: hsl(179, 100%, 13%);
}

.sedan .btn {
	color: hsl(31, 77%, 52%);
}
.suv .btn {
	color: hsl(184, 100%, 22%);
}
.luxury .btn {
	color: hsl(179, 100%, 13%);
}

.sedan .btn:hover {
	background-color: hsl(31, 77%, 52%);
}
.suv .btn:hover {
	background-color: hsl(184, 100%, 22%);
}
.luxury .btn:hover {
	background-color: hsl(179, 100%, 13%);
}
.btn:hover {
	color: hsl(0, 0%, 95%);
}
